.container {
  margin-left: 5em;
}

h1 {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  flex: 1;
}

.button-container {
  flex: 3;
}

button {
  align-self: flex-start;
}

.add-button {
  margin-left: 20em;
}
